@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
  background-image: url("https://thumbs.dreamstime.com/b/patriotic-treats-th-july-donut-pattern-stars-stripes-glaze-357804482.jpg");
  text-align: center; 
  margin: auto;
  font-family: "Luckiest Guy", cursive;
  font-size: 150px;
  font-weight: 600;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='70' height='84' viewport='0 0 100 100' style='fill:black;font-size:42px;'><text y='50%'>🧢</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

h1{
  font-size: 30px;
  color: white;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}


#myCanvas:hover {
cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='70' height='84' viewport='0 0 100 100' style='fill:black;font-size:42px;'><text y='50%'>🍩</text></svg>") 16 0,auto; /*!emojicursor.app*/
}


html, body {
  height:1000%
}